<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="KAFKA" class="net.logstash.logback.appender.KafkaAppender">
        <topic>bankapp-services-logs</topic>
        <producerConfig>
            bootstrap.servers=bank-app-kafka-bootstrap.kafka.svc.cluster.local:9092
            key.serializer=org.apache.kafka.common.serialization.StringSerializer
            value.serializer=org.apache.kafka.common.serialization.StringSerializer
        </producerConfig>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="KAFKA"/>
    </root>
</configuration>
